<div class="row fields-block">
  <div class="col-md-12">
    <div class="checkbox">
        <label>
          <input type="checkbox" name="i485_applicant_visa_number_availability" ng-model="formData.i485_applicant_vsisa_number_availability"> An immigrant petition giving me an immediately available immigrant visa number that has been approved.
        </label>
    </div>
    <div class="checkbox">
        <label>
          <input type="checkbox" name="i485_applicant_visa_derivative_status" ng-model="formData.i485_applicant_visa_derivative_status"> My spouse or parent applied for adjustment of status or was granted lawful permanent residence in an immigrant visa category that allows derivative status for spouses and children.
        </label>
    </div>
  </div>
</div>

<div class="row fields-block">
    <div class="col-md-5">
      <label for="i485_applicant_current_occupation">Current Occupation</label>
      <input type="text" class="form-control" name="i485_applicant_current_occupation" ng-model="formData.i485_applicant_current_occupation">
    </div>
</div>
<div class="row fields-block">
    <div class="col-md-5">
        <label for="i485_applicant_mother_first_name">Applicant's Mother's First Name</label>
        <input type="text" class="form-control" name="i485_applicant_mother_first_name" ng-model="formData.i485_applicant_mother_first_name">
    </div>
    <div class="col-md-5">
        <label for="i485_applicant_father_first_name">Applicant's Father's First Name</label>
        <input type="text" class="form-control" name="i485_applicant_father_first_name" ng-model="formData.i485_applicant_father_first_name">
    </div>
</div>
<div class="row fields-block">
    <div class="col-md-5">
        <label for="i485_applicant_i94_exact_name">Exact Name on I-94 Form</label>
        <input type="text" class="form-control" name="i485_applicant_i94_exact_name" ng-model="formData.i485_applicant_i94_exact_name">
    </div>
</div>
<div class="row fields-block">
    <div class="col-md-6">
        <label>Have you previously filed I-485 Application?</label><br>
        <label class="radio-inline">
            <input type="radio" ng-model="formData.i485_applicant_previous_application" value="yes"> Yes
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="formData.i485_applicant_previous_application" value="no"> No
        </label>
    </div>
    <div class="col-md-6">
        <label for="i485_previous_filing_deposition">Please give date of filing and result of final deposition</label>
        <input type="text" class="form-control" name="i485_previous_filing_deposition" ng-model="formData.i485_previous_filing_deposition">
    </div>
</div>

<!-- ******************** -->