<!-- form.html -->
<div class="row" >
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container" style="color: white;">
        <div class="page-header text-center">
            <h2>Relative Immigration Application</h2>
        </div>
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="chooseForm('i130')">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>

    </div>


</div>
</div>

<pre>
    {{formData}}
</pre>
