<!-- form-profile.html -->
<h4 style="color: white;">I-130 Form Information</h4>
<div class="form-group">
<p>
Did you gain permanent residence through adoption?<br><br>
<input type="radio" ng-model="formData.i130_adoption" value="yes"> Yes
<input type="radio" ng-model="formData.i130_adoption" value="no"> No
</p>
<p>
Are you related by adoption?<br><br>
<input type="radio" ng-model="formData.i130_residence_through_adoption" value="yes"> Yes
<input type="radio" ng-model="formData.i130_residence_through_adoption" value="no"> No
</p>
</div>
