<!-- form.html -->
<form-block class="container">
  <div class="row"> 
    <div class="col-md-12">
      <div id="content">
        <div id="tab-container">
          <ul>
            <li ng-repeat="section in formSelections">
             <a ui-sref-active="active" ui-sref="{{section.section}}">{{section.optionText}}</a>
            </li>          
          </ul>
        </div> <!--  End of tab-container div block -->
        <div id="main-container">
           <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
        </div> <!-- End of main-container div block -->
      </div> <!-- End of content div block -->
    </div> <!-- End of col-md-12 div -->
 </div> <!-- End of class row div -->
</form-block>
<!--  ********************************* -->

