<!-- form.html -->
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

        <div class="page-header text-center">
            <h2>Online Immigration Form</h2>
            
            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".section1"><span>1</span> Section 1</a>
                <a ui-sref-active="active" ui-sref=".section2"><span>2</span> Section 2</a>
                <a ui-sref-active="active" ui-sref=".section3"><span>3</span> Section 3</a>
                <a ui-sref-active="active" ui-sref=".section4"><span>4</span> Section 4</a>
                <a ui-sref-active="active" ui-sref=".section5"><span>5</span> Section 5</a>
                <a ui-sref-active="active" ui-sref=".section6"><span>6</span> Section 6</a>
                <a ui-sref-active="active" ui-sref=".section7"><span>7</span> Section 7</a>
                <a ui-sref-active="active" ui-sref=".section8"><span>8</span> Section 8</a>
            </div>
        </div>
        
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="processForm()">

            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>

    </div>


</div>
</div>