<footer-block>
  <div class="container">
  <div class="row footer-nav-menu-wrapper">
    <ul class="footer-nav-menu">
      <li><%= link_to "About", about_path %></li>
      <li>|</li>
      <li><%= link_to "Family Petition", category_path %></li>
      <li>|</li>
      <li><a href="#">Individual Petition</a></li>
    </ul>
  </div> <!-- End of footer-nav-menu-wrapper div -->
  <div class="row social-media-wrapper">
    <ul class="social-media-block">
      <li><a href="http://facebook.com"><span class="social-media-icon"><i class="fa fa-facebook"></i></span></a></li>
      <li><a href="http://twitter.com"><span class="social-media-icon"><i class="fa fa-twitter"></i></span></a></li>
      <li><a href="http://linkedin.com"><span class="social-media-icon"><i class="fa fa-linkedin"></i></span></a></li>
      <li><a href="http://https://plus.google.com"><span class="social-media-icon"><i class="fa fa-google-plus"></i></span></a></li>
      <li><a href="http://youtube.com"><span class="social-media-icon"><i class="fa fa-youtube"></i></span></a></li>
    </ul>
  </div>  <!-- End of social-media-block div -->
  </div> <!-- End of container div  -->
  <div class="footer-copy-right-block">
  <h5>&#169; AmeriDirect Inc. All Right Reserved.</h5>
  </div>
</footer-block>