<h4 style="color: white;">Please choose the category of your immigration application:</h4>
<div class="form-group" >
<p>
<input type="radio" ng-model="option" value="citizen-spouse-qualification"> Spouse of US Citizen<br>
<input type="radio" ng-model="option" value="citizen-child-under-21-qualification"> Unmarried child of US Citizen under age 21<br>
<input type="radio" ng-model="option" value="citizen-child-over-21-qualification"> Unmarried son or daughter of US Citizen age 21 or older<br>
<input type="radio" ng-model="option" value="citizen-married-child-qualification"> Married son or daughter of US Citizen of any age<br>
<input type="radio" ng-model="option" value="citizen-sibling-qualification"> Sibling of US Citizen<br>
<input type="radio" ng-model="option" value="citizen-parent-qualification"> Parent of US Citizen<br>
</p>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a class="btn btn-block btn-info" ng-click="categoryFnc(option)">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
