<!-- First Questionnaire page template for I130 -->
<h4 >What is your status?:</h4>
<div class="form-group" >
<p>
<input type="radio" ng-model="option" value="pr-category"> Permanent Resident<br>
<input type="radio" ng-model="option" value="citizen-category"> US Citizen
</p>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a  class="btn btn-block btn-info" ng-click="categoryFnc(option)">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
