<label>Permanent Resident Category</label>
<br>
<input type="radio" name="frmOptions.i130-pr-category" value"i130-pr-category-1">Category 1<br>
<input type="radio" name="frmOptions.i130-pr-category" value"i130-pr-category-2">Category 2<br>
<input type="radio" name="frmOptions.i130-pr-category" value"i130-pr-category-3">Category 3<br>
<input type="radio" name="frmOptions.i130-pr-category" value"i130-pr-category-4">Category 4<br>
<input type="radio" name="frmOptions.i130-pr-category" value"i130-pr-category-5">Category 5<br>
<input type="radio" name="frmOptions.i130-pr-category" value"i130-pr-category-6">Category 6<br>
