<!-- First Questionnaire page template for I130 -->
<h3>What is your status?</h3>
<div class="row">
  <div class="col-md-11">
    <div class="radio-block"><input type="radio" ng-model="option" value="pr-category"  checked="checked"> Permanent Resident</div>
    <div class="radio-block"><input type="radio" ng-model="option" value="citizen-category"> US Citizen</div>
  </div>  <!-- End of col-md-11 div block -->
</div><!--  End of row div block -->
 <button type="button" class="btn btn-info " ng-click="categoryFnc(option)">Next</button>
