<!-- Qualification page template for i130 Citizen married children over 21 -->
<h3 class="title-text-center">Please answers the following questions regarding qualification:</h3>
<h4>Are you and the person you are filing for related by adoption?</h4>
<div class="row">
  <div class="col-md-11">
    <div class="radio-block">
      <input type="radio" ng-model="qualifications.option" value="yes" >Yes
    </div>
    <div class="radio-block">
     <input ng-model="qualifications.option" type="radio" value="no">No 
    </div>
  </div>
</div>
<div class="title-text-center">
   <button type="button" class="btn btn-info " ng-click="qualificationFnc(qualifications, 'citizen-married-child-any-age', 4)">Next</button>
</div>