<h4 style="color: white;">Please choose the category of your immigration application:</h4>
<div class="form-group">
<p>
<input type="radio" ng-model="option" value="pr-spouse-qualification"> Spouse of Permanent Residents<br>
<input type="radio" ng-model="option" value="pr-children-under-21-qualification"> Unmarried child of Permanent Residents under age 21<br>
<input type="radio" ng-model="option" value="pre-children-over-21-qualification"> Unmarried son or daughter of Permanent Residents age 21 or older<br>
</p>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a class="btn btn-block btn-info ">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
