<h4>Please answers the following questions regarding qualification:</h4>
<div class="form-group" ng-init="category='us-married-children'">
<p>
Are you and the person you are filing for related by adoption? <input type="radio" ng-model="qualifications.children_qualification_1" value="yes" > Yes <input ng-model="qualifications.children_qualification_1" type="radio" value="no"> No 
</p>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a class="btn btn-block btn-info" ng-click="qualificationFnc(qualifications, category)">
    Next Section<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>