<!-- Qualification page template for i130 Citizen married children over 21 -->
<h3 class="title-text-center">Please answers the following questions regarding qualification:</h3>
<h4>Are you and the sibling you are filing for related through adoption by your parent?</h4>
<div class="row">
  <div class="col-md-11">
    <div class="radio-block">
      <input type="radio" ng-model="qualifications.option_1" value="yes" > Yes
    </div>
    <div class="radio-block">
      <input ng-model="qualifications.option_1" type="radio" value="no"> No 
    </div>
  </div>
</div>
<h4>Are you the sponsor 21 years old or older? </h4>
<div class="row">
  <div class="col-md-11">
    <div class="radio-block">
      <input type="radio" ng-model="qualifications.option_2" value="yes" > Yes
    </div>
    <div class="radio-block">
      <input ng-model="qualifications.option_2" type="radio" value="no"> No 
    </div>
  </div>
</div>
<div class="title-text-center">
   <button type="button" class="btn btn-info " ng-click="qualificationFnc(qualifications, 'citizen-sibling', 5)">Next</button>
</div>