<!-- The progress bar template -->
<progress-bar class="container">
  <ul class="progress_bar_wrapper">
    <li><div class="progress_bar_left" ng-class="{progress_bar_active:questionnaire_status_flag}" >Questionnaire</div></li>
    <li><div class="progress_bar" ng-class="{progress_bar_active:forms_status_flag}" >Fill Out Form</div></li>
    <li><div class="progress_bar" ng-class="{progress_bar_active:transaction_status_flag}" >Payment</div></li>
    <li><div class="progress_bar_right" ng-class="{progress_bar_active:complete_status_flag}">Complete</div></li>
  </ul>
</progress-bar>
