<!-- The progress bar template -->
 <progressbar style="width: 100%; height: 30px;">
  <section style="height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: questionnaire_status_flag }">Questionnaire</span></section>
  <section style="height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: forms_status_flag }">Forms</span></section>
  <section style="height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: transaction_status_flag }">Transaction</span></section>
</progressbar>