
 <h4>Dependants Information</h4>
 <hr>
 <h4>Spouse</h4>
  <h5>Full Name:</h5>
  <hr>
  <div class="row fields-block">
    <div class="col-md-3">
        <label for="general_applicant__spouse_first_name">First Name</label>
        <input type="text" class="form-control" name="general_applicant_spouse_first_name" placeholder="First Name" ng-model="formData.general_applicant_spouse_first_name">
    </div> <!-- End of first name form group block -->
    <div class="col-md-3">
        <label for="general_applicant_spouse_middle_name">Middle Name</label>
        <input type="text" class="form-control" name="general_applicant_spouse_middle_name" placeholder="Middle Name" ng-model="formData.general_applicant_spouse_middle_name">
   </div>
<div class="col-md-3">
    <label for="general_applicant_spouse_last_name">Last Name</label>
    <input type="text" class="form-control" name="general_applicant_spouse_last_name" placeholder="Last Name" ng-model="formData.general_applicant_spouse_last_name">
</div>
</div>  <!-- End of row div -->

<div class="row fields-block">
<div class="col-md-3">
  <label for="general_applicant_spouse_dob">Date Of Birth</label>
   <input type="text" class="form-control" name="general_applicant_spouse_dob" placeholder="Date Of Birth" ng-model="formData.general_applicant_spouse_dob">
</div> <!-- End of Spouse's DOB -->
<div class="col-md-3">
  <label for="general_applicant_spouse_cob">Country Of Birth</label>
  <input type="text" class="form-control" name="general_applicant_spouse_cob" placeholder="Country Of Birth" ng-model="formData.general_applicant_spouse_cob">
</div> <!--  End of Spouse's COB -->
<div class="col-md-3">
  <label for="general_applicant_spouse_a_number">Alien Number</label>
  <input type="text" class="form-control" name="general_applicant_spouse_a_number" placeholder="Alien Number" ng-model="formData.general_applicant_spouse_a_number">
</div> <!-- End of Spouse's Alien Number -->
<div class="col-md-3">
  <label for="general_applicant_spouse_application">Application</label>
  <input type="text" class="form-control" name="general_applicant_spouse_application" placeholder="Type Of Application" ng-model="formData.general_applicant_spouse_application">
</div><!--  End of Spouse's Application -->
</div><!--  End of row div -->

<div class="row fields-block">
<div class="col-md-4">
  <label for="general_applicant_spouse_relationship">Relationship To Dependant</label>
  <input type="text" class="form-control" name="general_applicant_spouse_relationship" placeholder="Type Of Relationship" ng-model="formData.general_applicant_spouse_relationship">
</div>
</div> <!--  End of row div -->
<h4>Marriage:</h4>
<div class="row fields-block">
<div class="col-md-3">
  <label for="general_applicant_date_present_marriage">Date of Present Marriage</label>
   <input type="text" class="form-control" name="general_applicant_date_present_marriage" placeholder="Date Of Present Marriage" ng-model="formData.general_applicant_date_present_marriage">
</div><!--  End of date of present marriage div -->
<div class="col-md-3">
    <label for="general_applicant_place_present_marriage">Place of Present Marriage</label>
   <input type="text" class="form-control" name="general_applicant_place_present_marriage" placeholder="Place Of Present Marriage" ng-model="formData.general_applicant_place_present_marriage"> 
</div> <!--  End  of place of present marriage div -->
</div> <!-- End of row div -->

<h4>Children:</h4>
<hr>
<h5>Child 1:</h5>
<h5>Full Name:</h5>

<div class="row fields-block">
<div class="col-md-3">
    <label for="general_applicant_child_first_name_1">First Name</label>
    <input type="text" class="form-control" name="general_applicant_child_first_name_1" placeholder="First Name" ng-model="formData.general_applicant_child_first_name_1">
</div> <!-- End of child 1 first name field block -->
<div class="col-md-3">
    <label for="general_applicant_child_middle_name_1">Middle Name</label>
    <input type="text" class="form-control" name="general_applicant_child_middle_name_1" placeholder="Middle Name"  ng-model="formData.general_applicant_child_middle_name_1">
</div><!--  End of child 1 middle name field block -->
<div class="col-md-3">"
    <label for="general_applicant_child_last_name_1">Last Name</label>
    <input type="text" class="form-control" name="general_applicant_child_last_name_1" placeholder="Last Name" ng-model="formData.general_applicant_child_last_name_1">
</div> <!--  End of child 1 last name field block -->
</div>  <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_relationship_1">Child Relationship</label>
      <input type="text" class="form-control" name="general_applicant_child_relationship_1" placeholder="Child Relationship" ng-model="formData.general_applicant_child_relationship_1">
  </div> <!--  End of child 1 relationship field block -->
</div><!--  End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_dob_1">Date Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_dob_1" placeholder="Child Date Of Birth" ng-model="formData.general_applicant_child_dob_1">
  </div> <!-- End of child 1's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_cob_1">Country Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_cob_1" placeholder="Child Country Of Birth" ng-model="formData.general_applicant_child_cob_1">
  </div> <!-- End of child 1's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_a_number_1">Alien Number</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_1" placeholder="Alien Number" ng-model="formData.eneral_applicant_child_a_number_1" >
  </div> <!-- End of child 1's alien number block -->
  <div class="col-md-3">
      <label for="general_applicant_child_application_1">Application</label>
      <input type="text" class="form-control" name="general_applicant_child_application_1" placeholder="Type Of Application" ng-model="formData.general_applicant_child_application_1"> 
  </div> <!-- End of child 1's application block -->
</div> <!-- End of row div -->


<h5>Child 2:</h5>
<h5>Full Name:</h5>

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_first_name_2">First Name</label>
      <input type="text" class="form-control" name="general_applicant_child_first_name_2" placeholder="First Name"  ng-model="formData.general_applicant_child_first_name_2">
  </div> <!-- End of child 2 first name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_middle_name_2">Middle Name</label>
      <input type="text" class="form-control" name="general_applicant_child_middle_name_2" placeholder="Middle Name" ng-model="formData.general_applicant_child_middle_name_2">
 </div><!--  End of child 2 middle name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_last_name_2">Last Name</label>
      <input type="text" class="form-control" name="general_applicant_child_last_name_2" placeholder="Last Name" ng-model="formData.general_applicant_child_last_name_2">
  </div> <!--  End of child 2 last name field block -->
</div>  <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_relationship_2">Child Relationship</label>
      <input type="text" class="form-control" name="general_applicant_child_relationship_2" placeholder="Child Relationship" ng-model="formData.general_applicant_child_relationship_2">
  </div> <!--  End of child 2 relationship field block -->
</div><!--  End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_dob_2">Date Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_dob_2" placeholder="Child Date Of Birth" ng-model="formData.general_applicant_child_dob_2">
  </div> <!-- End of child 2's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_cob_2">Country Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_cob_2" placeholder="Child Country Of Birth" ng-model="formData.general_applicant_child_cob_2">
  </div> <!-- End of child 2's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_a_number_2">Alien Number</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_2" placeholder="Alien Number" ng-model="formData.general_applicant_child_a_number_2" >
  </div> <!-- End of child 2's alien number block -->
  <div class="col-md-3">
      <label for="general_applicant_child_application_2">Application</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_2" placeholder="Type Of Application" ng-model="formData.general_applicant_child_a_number_2"> 
  </div> <!-- End of child 2's application block -->
</div> <!-- End of row div -->

<h5>Child 3:</h5>
<h5>Full Name:</h5>

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_first_name_3">First Name</label>
      <input type="text" class="form-control" name="general_applicant_child_first_name_3" placeholder="First Name" ng-model="formData.general_applicant_child_first_name_3">
  </div> <!-- End of child 3 first name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_middle_name_3">Middle Name</label>
      <input type="text" class="form-control" name="general_applicant_child_middle_name_3" placeholder="Middle Name" ng-model="formData.general_applicant_child_middle_name_3">
 </div><!--  End of child 3 middle name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_last_name_3">Last Name</label>
      <input type="text" class="form-control" name="general_applicant_child_last_name_3" placeholder="Last Name" ng-model="formData.general_applicant_child_last_name_3">
  </div> <!--  End of child 3 last name field block -->
</div>  <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_relationship_3">Child Relationship</label>
      <input type="text" class="form-control" name="general_applicant_child_relationship_3" placeholder="Child Relationship" ng-model="formData.general_applicant_child_relationship_3">
  </div> <!--  End of child 3 relationship field block -->
</div><!--  End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_dob_3">Date Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_dob_3" placeholder="Child Date Of Birth" ng-model="formData.general_applicant_child_dob_3">
  </div> <!-- End of child 3's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_cob_3">Country Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_cob_3" placeholder="Child Country Of Birth" ng-model="formData.general_applicant_child_cob_3">
  </div> <!-- End of child 3's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_a_number_3" ng-model="formData.general_applicant_child_a_number_3">Alien Number</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_3" placeholder="Alien Number"  ng-model="formData.general_applicant_child_a_number_3">
  </div> <!-- End of child 3's alien number block -->
  <div class="col-md-3">
      <label for="general_applicant_child_application_3">Application</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_3" placeholder="Type Of Application" ng-model="formData.general_applicant_child_a_number_3" > 
  </div> <!-- End of child 3's application block -->
</div> <!-- End of row div -->

<h5>Child 4:</h5>
<h5>Full Name:</h5>

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_first_name_4">First Name</label>
      <input type="text" class="form-control" name="general_applicant_child_first_name_4" placeholder="First Name" ng-model="formData.general_applicant_child_first_name_4">
  </div> <!-- End of child 4 first name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_middle_name_4">Middle Name</label>
      <input type="text" class="form-control" name="general_applicant_child_middle_name_4" placeholder="Middle Name"  ng-model="formData.general_applicant_child_middle_name_4">
 </div><!--  End of child 4 middle name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_last_name_4">Last Name</label>
      <input type="text" class="form-control" name="general_applicant_child_last_name_4" placeholder="Last Name" ng-model="formData.general_applicant_child_last_name_4">
  </div> <!--  End of child 4 last name field block -->
</div>  <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_relationship_4">Child Relationship</label>
      <input type="text" class="form-control" name="general_applicant_child_relationship_4" placeholder="Child Relationship" ng-model="formData.general_applicant_child_relationship_4">
  </div> <!--  End of child 4 relationship field block -->
</div><!--  End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_dob_4">Date Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_dob_4" placeholder="Child Date Of Birth" ng-model="formData.general_applicant_child_dob_4">
  </div> <!-- End of child 4's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_cob_4">Country Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_cob_4" placeholder="Child Country Of Birth" ng-model="formData.general_applicant_child_cob_4" >
  </div> <!-- End of child 4's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_a_number_4">Alien Number</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_4" placeholder="Alien Number" ng-model="formData.general_applicant_child_a_number_4">
  </div> <!-- End of child 4's alien number block -->
  <div class="col-md-3">
      <label for="general_applicant_child_application_4">Application</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_4" placeholder="Type Of Application" ng-model="formData.general_applicant_child_a_number_4" > 
  </div> <!-- End of child 4's application block -->
</div> <!-- End of row div -->

<h5>Child 5:</h5>
<h5>Full Name:</h5>

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_first_name_5">First Name</label>
      <input type="text" class="form-control" name="general_applicant_child_first_name_5" placeholder="First Name" ng-model="formData.general_applicant_child_first_name_5">
  </div> <!-- End of child 5 first name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_middle_name_5" ng-model="formData.general_applicant_child_middle_name_5">Middle Name</label>
      <input type="text" class="form-control" name="general_applicant_child_middle_name_5" placeholder="Middle Name" ng-model="formData.general_applicant_child_middle_name_5">
 </div><!--  End of child 5 middle name field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_last_name_5">Last Name</label>
      <input type="text" class="form-control" name="general_applicant_child_last_name_5" placeholder="Last Name" ng-model="formData.general_applicant_child_last_name_5">
  </div> <!--  End of child 5 last name field block -->
</div>  <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_relationship_5">Child Relationship</label>
      <input type="text" class="form-control" name="general_applicant_child_relationship_5" placeholder="Child Relationship" ng-model="formData.general_applicant_child_relationship_5">
  </div> <!--  End of child 5 relationship field block -->
</div><!--  End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
      <label for="general_applicant_child_dob_5">Date Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_dob_5" placeholder="Child Date Of Birth" ng-model="formData.general_applicant_child_dob_5">
  </div> <!-- End of child 5's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_cob_5">Country Of Birth</label>
      <input type="text" class="form-control" name="general_applicant_child_cob_5" placeholder="Child Country Of Birth" ng-model="formData.general_applicant_child_cob_5">
  </div> <!-- End of child 5's date of birth field block -->
  <div class="col-md-3">
      <label for="general_applicant_child_a_number_5">Alien Number</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_5" placeholder="Alien Number" ng-model="formData.general_applicant_child_a_number_5">
  </div> <!-- End of child 5's alien number block -->
  <div class="col-md-3">
      <label for="general_applicant_child_application_5">Application</label>
      <input type="text" class="form-control" name="general_applicant_child_a_number_5" placeholder="Type Of Application" ng-model="formData.general_applicant_child_a_number_5"> 
  </div> <!-- End of child 5's application block -->
</div> <!-- End of row div -->
<!--  ********* End of Form Fields Block ********** -->
