<!--  ********* Form Fields Block ********** -->
<h4>Full Name:</h4>
<hr>
<div class="row fields-block">
  <div class="col-sm-3">
      <label for="general_applicant_first_name">First Name</label>
      <input type="text" class="form-control" name="general_applicant_first_name" placeholder="First Name" ng-model="formData.general_applicant_first_name">
  </div> <!-- End of first name form group block -->
  <div class="col-sm-3">
      <label for="general_applicant_middle_name">Middle Name</label>
      <input type="text" class="form-control" name="general_applicant_middle_name" placeholder="Middle Name" ng-model="formData.general_applicant_middle_name">
 </div>
  <div class="col-sm-3">
      <label for="general_applicant_last_name">Last Name</label>
      <input type="text" class="form-control" name="general_applicant_last_name" placeholder="Last Name" ng-model="formData.general_applicant_last_name">
  </div>
  <div class="col-sm-3">
      <label for="general_applicant_other_name">Other Name</label>
      <input type="text" class="form-control" name="general_applicant_other_name" placeholder="Other Name" ng-model="formData.general_applicant_other_name">
  </div>
</div>  <!-- End of row div -->

<h4>Address:</h4>
<hr>
<div class="row fields-block">
  <div class="col-md-4">
    <label for="general_applicant_co">C/O</label>
    <input type="text" class="form-control" name="general_applicant_co"  ng-model="formData.general_applicant_co">
  </div>
</div> <!-- End of row div -->
<div class="row fields-block">
  <div class="col-md-10">
    <label for="general_applicant_street">Street</label>
    <input type="text" class="form-control" name="general_applicant_street" placeholder="Street" ng-model="formData.general_applicant_street">
  </div>
  <div class="col-md-2">
    <label for="general_applicant_apt_suit">Apt/St</label>
    <input type="text" class="form-control" name="general_applicant_apt_suit" placeholder="Number or Suit" ng-model="formData.general_applicant_apt_suit">
  </div>
</div> <!-- End of row div -->
<div class="row fields-block">
  <div class="col-md-3">
    <label for="general_applicant_city">City</label>
    <input type="text" class="form-control" name="general_applicant_city" placeholder="City" ng-model="formData.general_applicant_city">
  </div>
  <div class="col-md-3">
    <label for="general_applicant_state">State</label>
    <input type="text" class="form-control" name="general_applicant_state" placeholder="State" ng-model="formData.general_applicant_state">
  </div>
  <div class="col-md-3">
    <label for="general_applicant_zip_code">Zip Code</label>
    <input type="text" class="form-control" name="general_applicant_zip_code" placeholder="Zip Code" ng-model="formData.general_applicant_zip_code">
  </div>
  <div class="col-md-3">
    <label for="general_applicant_country">Country</label>
    <input type="text" class="form-control" name="general_applicant_country" placeholder="Country" ng-model="formData.general_applicant_country">
  </div>
</div> <!-- End of row div -->

<h4>Other Information:</h4>
<hr>
<div class="row fields-block">
  <div class="col-md-4">
    <label for="general_applicant_phone">Phone</label>
     <input type="text" class="form-control" name="general_applicant_phone" placeholder="Phone Number"  ng-model="formData.general_applicant_phone">
  </div>
</div> <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-3">
    <label for="general_applicant_dob">Date Of Birth</label>
    <input type="text" class="form-control" name="general_applicant_dob" placeholder="Date Of Birth" ng-model="formData.general_applicant_dob">
  </div> <!-- End of general_applicant_dob div -->
  <div class="col-md-3">
    <label for="general_applicant_pob_town">Town/City Of Birth</label>
    <input type="text" class="form-control" name="general_applicant_pob_town" placeholder="Town/City Of Birth" ng-model="formData.general_applicant_pob_town">
  </div> <!-- End of general_applicant_pob_town div -->
  <div class="col-md-3">
    <label for="general_applicant_pob_state">State/Province Of Birth</label>
    <input type="text" class="form-control" name="general_applicant_pob_state" placeholder="State/Province Of Birth" ng-model="formData.general_applicant_pob_state">
  </div> <!-- End of general_applicant_pob_state div -->
  <div class="col-md-3">
    <label for="general_applicant_pob_country">Country Of Birth</label>
    <input type="text" class="form-control" name="general_applicant_pob_country" placeholder="Country Of Birth" ng-model="formData.general_applicant_pob_country">
  </div>  <!-- End of general_applicant_pob_country div -->
</div> <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-6">
   <label>Gender</label><br>
   <label class="checkbox-inline">
    <input type="checkbox" ng-model="formData.general_applicant_gender_male">Male 
   </label> 
   <label class="checkbox-inline">
    <input type="checkbox" ng-model="formData.general_applicant_gender_female">Female
   </label> 
  </div><!--  End of Gender div-->
  <div class="col-md-6">
   <label>Marital Status</label><br>
   <label class="checkbox-inline">
    <input type="checkbox" ng-model="formData.general_applicant_marital_status_single"> Single
   </label> 
   <label class="checkbox-inline">
    <input type="checkbox" ng-model="formData.general_applicant_marital_status_married"> Married
   </label> 
   <label class="checkbox-inline">
    <input type="checkbox" ng-model="formData.general_applicant_marital_status_widowed"> Widowed
   </label> 
   <label class="checkbox-inline">
    <input type="checkbox" ng-model="formData.general_applicant_marital_status_divorced"> Divorced
   </label> 
  </div> <!-- End of Marital Status div -->
</div><!--  End of row div -->

<h4>Immigration Information:</h4>
<hr>
<div class="row fields-block">
  <div class="col-md-3">
    <label for="general_applicant_ssn">Social Security Number</label>
    <input type="text" class="form-control" name="general_applicant_ssn" placeholder="Social Security Number" ng-model="formData.general_applicant_ssn">
 </div> <!--  End of Social Security Number div -->
  <div class="col-md-2">
    <label for="general_applicant_alien_number">Alien Number</label>
    <input type="text" class="form-control" name="general_applicant_alien_number" placeholder="Alien Number" ng-model="formData.general_applicant_alien_number">
 </div> <!-- End of Alien Number block div -->
 <div class="col-md-2"> 
    <label for="general_applicant_i_94">I-94 Number</label>
    <input type="text" class="form-control" name="general_applicant_i_94" placeholder="I-94 Number" ng-model="formData.general_applicant_i_94">
 </div> <!--  End of I-94 Number Block -->
 <div class="col-md-3">
    <label for="general_applicant_date_of_last_arrival">Date of Last Arrival</label>
    <input type="text" class="form-control" name="general_applicant_date_of_last_arrival" placeholder="Date of Last Arrival" ng-model="formData.general_applicant_date_of_last_arrival">
 </div><!--  End of Date of last arrival block -->
 <div class="col-md-2">
    <label for="general_applicant_uscis_status">USCIS Status</label>
    <input type="text" class="form-control" name="general_applicant_uscis_status" placeholder="USCIS Status" ng-model="formData.general_applicant_uscis_status">
 </div><!--  End of USCIS Status Block -->
</div> <!-- End of row div -->

<div class="row fields-block">
  <div class="col-md-2">
    <label for="general_applicant_status_expiration_date">Expiration Date</label>
    <input type="text" class="form-control" name="general_applicant_status_expiration_date" placeholder="Expriation Date" ng-model="formData.general_applicant_status_expiration_date">
 </div> <!--  End of Social Security Number div -->
  <div class="col-md-2">
    <label for="general_applicant_visa_number">Vsia Number</label>
    <input type="text" class="form-control" name="general_applicant_visa_number" placeholder="Visa Number" ng-model="formData.general_applicant_visa_number">
 </div> <!-- End of Alien Number block div -->
 <div class="col-md-3"> 
    <label for="general_applicant_place_of_last_entry">Place Of Last Entry</label>
    <input type="text" class="form-control" name="general_applicant_place_of_last_entry" placeholder="Place Of Last Entry" ng-model="formData.general_applicant_place_of_last_entry">
 </div> <!--  End of I-94 Number Block -->
 <div class="col-md-2">
    <label for="general_applicant_consoulate">Consulate</label>
    <input type="text" class="form-control" name="general_applicant_consulate" placeholder="Consulate" ng-model="formData.general_applicant_consulate">
 </div><!--  End of Date of last arrival block -->
 <div class="col-md-3">
    <label for="general_applicant_entry_inspection">Entry Of Inspection</label>
    <input type="text" class="form-control" name="general_applicant_entry_inspection" placeholder="Entry of Inspection" ng-model="formData.general_applicant_entry_inspection">
 </div><!--  End of USCIS Status Block -->
</div> <!-- End of row div -->