<% provide(:title, "About") %>
<about-image>
  <breadcrumb-bar>
   <div class="container">
    <div class="row breadcrumb-wrapper">
      <span><%= link_to("home", root_url, style: 'color:#FFFFFF; text-decoration:none;') %> / About Us</span>
    </div>
   </div>
  </breadcrumb-bar>
</about-image>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     <p id="about-text">AmeriDirect is premiere online immigration application process application enable the users to apply their own immigration petition. It is designed to help users to save tone of legal fees by not having to rely on attorneys for their immigration cases. The online questionnaire will decide the eligibility of the application and will provide comprehensive instructions on how to prepare and file their own application.
     </p>
    </div>
  </div>
</div>