<div ng-controller="frmCntrl">
<div style="height: 250px; width: width: 100%; border: 1px solid black;">
  <form name="questionnaireForm">
    <ng-include src="currentTemplate"></ng-include>
  <!-- <button type="submit">Submit</button> -->
  </form>
</div>
<br>

<pre>
Form Template: {{formTemplate}}<br><br>
Testing Variable: {{testVariable}}<br><br>
Form Option: {{frmOptions}}
</pre>
</div>



        