<% provide(:title, "Home") %>
<div style="height: 250px; width: width: 100%; border: 1px solid black;">
  <%= link_to "Relative Immigration Case", user_app_path(assign_user_id, 1) %>
</div>
<br>
</div>



        