<% provide(:title, "Home") %>
<!-- Applications front page -->
<category_section ng-controller="initCaseController">
<div ng-init="getCurrentUserId(<%= @current_user_id %>)"></div>
  Choose your immigraton Application
  <ul>
  <li><a href="#" ng-click="applyMyCase(1)">Relative Immigration Application</a></li> 
  </ul>
</category_section>

        