<% provide(:title, "Home") %>
<div style="height: 250px; width: width: 100%; border: 1px solid black;">
  <%= link_to "Relative Immigration Case", user_app_path(1, 1) %>
</div>
<br>

<pre>
Form Template: {{currentTemplate}}<br><br>
Form Option: {{frmOptions}}<br><br>
Qualificaiton: {{frmOptions.qualification}}<br><br>
Quota: {{quota}}<br>
</pre>
</div>



        