<h4 style="color: white;">I-130 Form Applicant Information</h4>

 <label for="general_applicant_first_name">First Name</label>
<input type="text" class="form-control" name="general_applicant_first_name" ng-model="formData.general_applicant_first_name">
<label for="general_applicant_last_name">Last Name</label>
<input type="text" class="form-control" name="general_applicant_last_name" ng-model="formData.general_applicant_last_name">
<label for="general_applicant_middle_name">Middle Name</label>
<input type="text" class="form-control" name="general_applicant_middle_name" ng-model="formData.general_applicant_middle_name">
<label for="general_applicant_other_name">Other Name</label>
<input type="text" class="form-control" name="general_applicant_other_name" ng-model="formData.general_applicant_other_name">
<label for="general_applicant_co">CO</label>
<input type="text" class="form-control" name="general_applicant_co" ng-model="formData.general_applicant_co">
<label for="general_applicant_street">Street</label>
<input type="text" class="form-control" name="general_applicant_street" ng-model="formData.general_applicant_street">
 Apt/St: <br> 
<input type="text" class="form-control" name="general_applicant_apt_suit" ng-model="formData.general_applicant_apt_suit">
City: <br>
<input type="text" class="form-control" name="general_applicant_city" ng-model="formData.general_applicant_city">
State: <br>
<input type="text" class="form-control" name="general_applicant_state" ng-model="formData.general_applicant_state">
<br>
Zip Code: <br> 
<input type="text" class="form-control" name="general_applicant_zip_code" ng-model="formData.general_applicant_zip_code">
<br>
Country: <br>
<input type="text" class="form-control" name="general_applicant_country" ng-model="formData.general_applicant_country">
<p>Phone: <br>
<input type="text" class="form-control" name="general_applicant_phone" ng-model="formData.general_applicant_phone">
<h3>Other Information</h3>
<p>Date of Birth: <br>
<input type="text" class="form-control" name="general_applicant_dob" ng-model="formData.general_applicant_dob">
</p>
<p>Town/City of Birth:<br>
<input type="text" class="form-control" name="general_applicant_pob_town" ng-model="formData.general_applicant_pob_town">
State/Province of Birth: <br> 
<input type="text" class="form-control" name="general_applicant_pob_state" ng-model="formData.general_applicant_pob_state">
Country of Birth: <br>
<input type="text" class="form-control" name="general_applicant_pob_country" ng-model="formData.general_applicant_pob_country">
</p>
<h3>Gender</h3>
<p>
<input type="checkbox" ng-model="formData.general_applicant_gender_male">Male  <br><br>
<input type="checkbox" ng-model="formData.general_applicant_gender_female">Female
</p>
<h3>Marital Status</h3>
<p> 
<input type="checkbox" ng-model="formData.general_applicant_marital_status_single"> Single  <br><br>
<input type="checkbox" ng-model="formData.general_applicant_marital_status_married"> Married  <br><br>
<input type="checkbox" ng-model="formData.general_applicant_marital_status_widowed"> Widowed <br><br>
<input type="checkbox" ng-model="formData.general_applicant_marital_status_divorced"> Divorced <br><br>
</p>
<h3>Immigration Information</h3>
<p>
Social Security Number: <br><br>
<input type="text" class="form-control" name="general_applicant_ssn" ng-model="formData.general_applicant_ssn">
<br><br> 
Alien Number:<br><br>
<input type="text" class="form-control" name="general_applicant_alien_number" ng-model="formData.general_applicant_alien_number">
I-94:<br><br>
<input type="text" class="form-control" name="general_applicant_i_94" ng-model="formData.general_applicant_i_94">
Date of Last Arrival: <br><br>
<input type="text" class="form-control" name="general_applicant_date_of_last_arrival" ng-model="formData.general_applicant_date_of_last_arrival">
</p>
<p>
USCIS Status: <br><br>
<input type="text" class="form-control" name="general_applicant_uscis_status" ng-model="formData.general_applicant_uscis_status">
Expiration Date: <br><br> 
<input type="text" class="form-control" name="general_applicant_status_expiration_date" ng-model="formData.general_applicant_status_expiration_date">
Visa Number:<br><br>  
<input type="text" class="form-control" name="general_applicant_visa_number" ng-model="formData.general_applicant_visa_number">
</p>
<p>
Place of Last Entry: <br><br>
<input type="text" class="form-control" name="general_applicant_place_of_last_entry" ng-model="formData.general_applicant_place_of_last_entry">
Consulate: <br><br>
<input type="text" class="form-control" name="general_applicant_consulate" ng-model="formData.general_applicant_consulate">
Entry of Inspection: <br><br> 
<input type="text" class="form-control" name="general_applicant_entry_inspection" ng-model="formData.general_applicant_entry_inspection">
</p>
<h3>Dependants Information</h3>
<h4>Spouse</h4>
  <p> 
  First Name: <br><br>
  <input type="text" class="form-control" name="general_applicant_spouse_first_name" ng-model="formData.general_applicant_spouse_first_name">
  Last Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_spouse_last_name" ng-model="formData.general_applicant_spouse_last_name">
  Middle Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_spouse_middle_name" ng-model="formData.general_applicant_spouse_middle_name">
  </p>
  <p>
  Date of Birth of your spouse: <br><br> 
  <input type="text" class="form-control" name="general_applicant_spouse_dob" ng-model="formData.general_applicant_spouse_dob">
  Country of Birth of your spouse:<br><br>  
  <input type="text" class="form-control" name="general_applicant_spouse_cob" ng-model="formData.general_applicant_spouse_cob">
  </p>
  <p>
  Alien Number of your spouse: <br><br> 
  <input type="text" class="form-control" name="general_applicant_spouse_a_number" ng-model="formData.general_applicant_spouse_a_number">
  Country of Birth of your spouse: <br><br> 
  <input type="text" class="form-control" name="general_applicant_spouse_cob" ng-model="formData.general_applicant_spouse_cob">
  Application of your spouse: <br><br>  
  <input type="text" class="form-control" name="general_applicant_spouse_application" ng-model="formData.general_applicant_spouse_application">
  </p>
  <p>
   Relationship: <br><br> g
  <input type="text" class="form-control" name="general_applicant_spouse_relationship" ng-model="formData.general_applicant_spouse_relationship">
  </p>
  <p>
  <h4>Marriage</h4>
  Date of Present Marriage: <br><br> 
  <input type="text" class="form-control" name="general_applicant_date_present_marriage" ng-model="formData.general_applicant_date_present_marriage"><br><br>
  Place of Present Marriage: <br><br> 
  <input type="text" class="form-control" name="general_applicant_place_present_marriage" ng-model="formData.general_applicant_place_present_marriage">
  </p>

  <h4>Children</h4>
  <h5>Child 1</h5>
  <p>
  First Name: <br><br>
  <input type="text" class="form-control" name="general_applicant_child_first_name_1" ng-model="formData.general_applicant_child_first_name_1"><br><br> 
  Last Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_last_name_1" ng-model="formData.general_applicant_child_last_name_1"><br><br> 
  Middle Name:  <input type="text" class="form-control" name="general_applicant_child_middle_name_1" ng-model="formData.general_applicant_child_middle_name_1"><br><br> 
  </p>
  <p>
  Child Relationship: <br><br> 
   <input type="text" class="form-control" name="general_applicant_child_relationship_1" ng-model="formData.general_applicant_child_relationship_1"><br><br> 
  Date of Birth <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_dob_1" ng-model="formData.general_applicant_child_dob_1"><br><br> 
  Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_1" ng-model="formData.general_applicant_child_cob_1"><br><br>
  </p>
  <p>
  Alien Number: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_a_number_1" ng-model="formData.general_applicant_child_a_number_1"><br><br>
  Application <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_application_1" ng-model="formData.general_applicant_child_application_1"><br><br>
  Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_1" ng-model="formData.general_applicant_child_cob_1"><br><br>
  </p>
  <h5>Child 2</h5>
  <p>
  First Name: <br><br>
  <input type="text" class="form-control" name="general_applicant_child_first_name_2" ng-model="formData.general_applicant_child_first_name_2"><br><br> 
  Last Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_last_name_2" ng-model="formData.general_applicant_child_last_name_2"><br><br> 
  Middle Name:  <input type="text" class="form-control" name="general_applicant_child_middle_name_2" ng-model="formData.general_applicant_child_middle_name_2"><br><br> 
  </p>
  <p>
  Child Relationship: <br><br> 
   <input type="text" class="form-control" name="general_applicant_child_relationship_2" ng-model="formData.general_applicant_child_relationship_2"><br><br> 
  Date of Birth <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_dob_2" ng-model="formData.general_applicant_child_dob_2"><br><br> 
  Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_2" ng-model="formData.general_applicant_child_cob_2"><br><br>
  </p>
  <p>
  Alien Number: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_a_number_2" ng-model="formData.general_applicant_child_a_number_2"><br><br>
  Application <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_application_2" ng-model="formData.general_applicant_child_application_2"><br><br>
 Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_2" ng-model="formData.general_applicant_child_cob_2"><br><br>
  </p>
 <h5>Child 3</h5>
  <p>
  First Name: <br><br>
  <input type="text" class="form-control" name="general_applicant_child_first_name_3" ng-model="formData.general_applicant_child_first_name_3"><br><br> 
  Last Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_last_name_3" ng-model="formData.general_applicant_child_last_name_3"><br><br> 
  Middle Name:  <input type="text" class="form-control" name="general_applicant_child_middle_name_3" ng-model="formData.general_applicant_child_middle_name_3"><br><br> 
  </p>
  <p>
  Child Relationship: <br><br> 
   <input type="text" class="form-control" name="general_applicant_child_relationship_3" ng-model="formData.general_applicant_child_relationship_3"><br><br> 
  Date of Birth <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_dob_3" ng-model="formData.general_applicant_child_dob_3"><br><br> 
  Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_3" ng-model="formData.general_applicant_child_cob_3"><br><br>
  </p>
  <p>
  Alien Number: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_a_number_3" ng-model="formData.general_applicant_child_a_number_3"><br><br>
  Application <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_application_3" ng-model="formData.general_applicant_child_application_3"><br><br>
 Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_3" ng-model="formData.general_applicant_child_cob_3"><br><br>
  </p>
    <h5>Child 4</h5>
  <p>
  First Name: <br><br>
  <input type="text" class="form-control" name="general_applicant_child_first_name_4" ng-model="formData.general_applicant_child_first_name_4"><br><br> 
  Last Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_last_name_4" ng-model="formData.general_applicant_child_last_name_4"><br><br> 
  Middle Name:  <input type="text" class="form-control" name="general_applicant_child_middle_name_4" ng-model="formData.general_applicant_child_middle_name_4"><br><br> 
  </p>
  <p>
  Child Relationship: <br><br> 
   <input type="text" class="form-control" name="general_applicant_child_relationship_4" ng-model="formData.general_applicant_child_relationship_4"><br><br> 
  Date of Birth <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_dob_4" ng-model="formData.general_applicant_child_dob_4"><br><br> 
  Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_4" ng-model="formData.general_applicant_child_cob_4"><br><br>
  </p>
  <p>
  Alien Number: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_a_number_4" ng-model="formData.general_applicant_child_a_number_4"><br><br>
  Application <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_application_4" ng-model="formData.general_applicant_child_application_4"><br><br>
 Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_4" ng-model="formData.general_applicant_child_cob_4"><br><br>
  </p>
  <h5>Child 5</h5>
  <p>
  First Name: <br><br>
  <input type="text" class="form-control" name="general_applicant_child_first_name_5" ng-model="formData.general_applicant_child_first_name_5"><br><br> 
  Last Name: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_last_name_5" ng-model="formData.general_applicant_child_last_name_5"><br><br> 
  Middle Name:  <input type="text" class="form-control" name="general_applicant_child_middle_name_5" ng-model="formData.general_applicant_child_middle_name_5"><br><br> 
  </p>
  <p>
  Child Relationship: <br><br> 
   <input type="text" class="form-control" name="general_applicant_child_relationship_5" ng-model="formData.general_applicant_child_relationship_5"><br><br> 
  Date of Birth <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_dob_5" ng-model="formData.general_applicant_child_dob_5"><br><br> 
  Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_5" ng-model="formData.general_applicant_child_cob5"><br><br>
  </p>
  <p>
  Alien Number: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_a_number_5" ng-model="formData.general_applicant_child_a_number_5"><br><br>
  Application <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_application_5" ng-model="formData.general_applicant_child_application_5"><br><br>
 Coutry of Birth: <br><br> 
  <input type="text" class="form-control" name="general_applicant_child_cob_5" ng-model="formData.general_applicant_child_cob_5"><br><br>
  </p>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.section2" class="btn btn-block btn-info"  ng-click="catchData('form1', formData)">
    Next Section<span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
