<!-- form-profile.html -->
<h4 style="color: white;">I-131 Form Information</h4>
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="formData.name">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" ng-model="formData.email">
</div>
<pre>
  Switches:  {{switchOptions}}
</pre>

<div class="form-group row">
<div ng-if="switchOptions['section4'] == 'i131-option'" ng-include="'/switches/switch-section5.html'"></div>
<div ng-if="switchOptions['section5'] == 'i131-option'" ng-include="'/switches/switch-section6.html'"></div>
<div ng-if="switchOptions['section6'] == 'i131-option'" ng-include="'/switches/switch-section7.html'"></div>
</div>
