<!-- form-profile.html -->
<h4 style="color: white;">I-765 Form Option</h4>
<div class="form-group">
    <label for="name">Previous Application</label>
    <input type="text" class="form-control" name="previous_application" ng-model="formData.previous_application">
</div>

<div class="form-group">
    <label for="email">Office of Filing</label>
    <input type="text" class="form-control" name="office" ng-model="formData.office">
</div>
<div class="form-group row">
<div ng-if="switchOptions['section4'] == 'i765-option'" class="col-xs-6 col-xs-offset-3" ng-controller="formController">
    <a ui-sref="form.section5" class="btn btn-block btn-info" ng-click="catchData('form6', formData)">
    Next Section 5 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
<div ng-if="switchOptions['section5'] == 'i765-option'" class="col-xs-6 col-xs-offset-3" ng-controller="formController">
    <a ui-sref="form.section6" class="btn btn-block btn-info" ng-click="catchData('form6', formData)">
    Next Section 6 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
<div ng-if="switchOptions['section6'] == 'i765-option'" class="col-xs-6 col-xs-offset-3" ng-controller="formController">
    <a ui-sref="form.section7" class="btn btn-block btn-info" ng-click="catchData('form6', formData)">
    Next Section 7 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>