<!-- form.html -->
<!-- Initializing the case id at the beginning of the application-->
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container" style="color: white;">
        <div class="page-header text-center">
            <h2>Work Permit Application</h2>
        </div>
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="chooseForm('i765')">
            <!-- our nested state views will be injected here -->
            <button type="submit" class="btn btn-danger" ng-click="restCookie()">Submit</button>
        </form>
    </div>
</div>
</div>
