 <!-- Main Container -->
 <h1>Main Container</h1>

 <progressbar style="width: px; height: 30px; border: 2px solid black; display: block;">
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: questionnaire_status_fag }">Questionnaire</span></section>
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: forms_status_flag }">Forms</span></section>
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: transaction_status_flag }">Transaction</span></section>
</progressbar>
 <div ui-view></div>
<pre>
  Questionnaire: {{questionnaire_status_fag}}<br><br>
  Forms: {{forms_status_flag}}<br><br>
  Transaction: {{transaction_status_flag}}<br><br>
  Current State: {{current_state}}
</pre>