<h1>Link To Credit Card Payment</h1>

<%= form_tag form_payments_path do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Peter's Speakeasy"
          data-description="Immigration Application"
          data-amount="120000">
      </script>

  <% end %>