<div class="container">

<progressbar style="width: px; height: 30px; border: 2px solid black; display: block;">
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: questionnaire_status_flag }">Questionnaire</span></section>
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: forms_status_flag }">Forms</span></section>
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="{status_highlight_int: flag, status_highlight: flag2 }">Transaction</span></section>
</progressbar>

  <!-- views will be injected here -->
 <div id="section-container" ui-view></div>

</div>

<pre>
  Flag: {{flag2}}<br><br>
  Flag2: {{forms_status_flag}}
</pre>