<div class="container">
  <!-- views will be injected here -->
 <div id="section-container" ui-view></div>
</div>

<pre>
  Questionnaire: {{questionnaire_status_fag}}<br><br>
  Forms: {{forms_status_flag}}<br><br>
  Transaction: {{transaction_status_flag}}<br><br>
  Current State: {{current_state}}
</pre>
