<div class="container">

<progressbar style="width: 100%; height: 50px; border: 2px solid black;">
  <section style="border: 1px solid blue; height: 50px; width: 250px;">Questionnaire</section>
  <section style="border: 1px solid blue; height: 50px; width: 250px;">Forms</section>
  <section style="border: 1px solid blue; height: 50px; width: 250px;">Transaction</section>
</progressbar>

  <!-- views will be injected here -->
 <div id="section-container" ui-view></div>

</div>