<div class="container">

<progressbar style="width: 800px; height: 30px; border: 2px solid black; display: block;">
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="status_highlight_int:, status_highlight:  ">Questionnaire</span></section>
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="status_highlight_int:, status_highlight:  ">Forms</span></section>
  <section style="border: 1px solid blue; height: 50px; width: 250px; display: inline; font-size: 15px; padding: 5px;"><span ng-class="status_highlight_int:, status_highlight:  ">Transaction</span></section>
</progressbar>

  <!-- views will be injected here -->
 <div id="section-container" ui-view></div>

</div>