    <div class="row">
      <div class="container"> 
        <%= image_tag "logo.gif" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to "Settings", edit_user_path(current_user)%></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log in", login_path %>
              </li>
              <li>
                <%= link_to "Sign Up", signup_path %>
              </li>
            <% end %>

          </ul>
        </nav>
      </div>
    </div>