.i130-image {
  background-image: image-url("family-2.jpg") ;
  background-size: cover;
  width: 100%;
  height: 420px;
  text-align: center;
  display: block;
  position: relative;
}

.i765-image {
  background:  image-url("mt-rushmore-slider.jpg") ;
  background-size: cover;
  width: 100%;
  height: 420px;
  text-align: center;
  display: block;
  position: relative;
}

.i485-image {
  background:  image-url("green-card-slide.jpg") ;
  background-size: cover;
  width: 100%;
  height: 420px;
  text-align: center;
  display: block;
  position: relative;
}

breadcrumb-bar {
  height: 30px;
  display: block;
  width: 100%;
  background-color: rgba(43, 133, 187, 0.62);
  position:absolute;
  bottom: 0px;

}

.breadcrumb-wrapper {
  text-align:left; 
  line-height: 30px;
}

.breadcrumb-wrapper span {
  color:white; 
  font-size: 15px;
}

#breadcrumb-home-link {
  text-decoration: none;
  color: white;
}

.custom-button {
    background-color: rgb(163, 10, 35);
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.custom-button:hover{
   cursor: pointer;
}

.custom-button a {
  text-decoration: none;
  color: #fff;
}

.custom-button a:hover {
  text-decoration: none;
  color: #fff;
}

#category-col-left {
  padding: 25px;
  height: 200px;
}

#category-col-right {
  line-height: 100px;
  padding: 25px; 
  text-align: center; 
  height: 200px;
}

category-section {
  display: block;
}
