<div ng-init="statusTestFnc()"></div>

   <payment-block class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1 style="text-align: center;">Application Fees Summary</h1>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <th style="border-bottom: 1px solid #4995C7;">Descriptions</th>
                  <th style="border-bottom: 1px solid #4995C7;">Fee</th>
                </tr>
              </thead>
                <tfoot style="border-top: 1px solid #4995C7;">
                  <tr>
                    <td><span style="font-weight: bold;"> Total</span> </td>
                    <td>$1,185.00</td>
                  </tr>
                </tfoot>
                <tr  style="background-color: #F2F2F2;">
                  <td>Online Process Fee</td>
                  <td>$300.00</td>
                </tr>
                 <tr>
                  <td>Petition for Alien Relative</td>
                  <td>$420.00</td>
                </tr>
                <tr  style="background-color: #F2F2F2;">
                  <td>Application For Employment Authorization</td>
                  <td>$465.00</td>
                </tr>
            </table>
            <div style="text-align: center; padding: 30px;">
              <form action="{{urlPath}}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_k1o7Q9FJKKZid5dn40XvAwBL"
                  data-name="Immidrect"
                  data-description="Application Fee Transaction"
                  data-amount="{{converted_total_fee}}">
                </script>
              </form>
              <div>
                <span style="font-size:20px"><i class="fa fa-cc-mastercard"></i> <i class="fa fa-cc-discover"></i>
<i class="fa fa-cc-amex"></i> <i class="fa fa-cc-visa"></i>
</span>
              </div>
               
            </div>

        </div>
        <div class="col-md-2">
        </div>
      </div> <!-- End of row div block -->
    </payment-block>
    

<!-- ********************* -->
<h1>Application Fee Summary</h1>
<table style="width: 600px;" >
  <thead>
    <tr>
      <th>Description</th>
      <th>Fee</th>
    </tr>
  </thead>
    <tfoot>
      <tr>
        <td> Total </td>
        <td> {{ total_fee | currency : symbol : fractionSize }}</td>
      </tr>
    </tfoot>
    <tr ng-repeat="sub_fee in sub_total_fees ">
      <td>{{sub_fee.description}}</td>
      <td>{{ sub_fee.fee | currency : symbol : fractionSize}}</td>
    </tr>
</table>
<form action="/api/cases/1/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_k1o7Q9FJKKZid5dn40XvAwBL"
    data-name="Immidrect"
    data-description="Application Fee Transaction"
    data-amount="{{converted_total_fee}}">
  </script>
</form>
